{% extends 'layout.html' %}

{% macro home_hero(NAME, name, errmsg) %}
<div style="margin-top: 30px">
  {% if not aname %}
  <p>{{ _('Welcome to %(name)s!', name=NAME) }}</p>
  <p>{{ _('Please Sign in or <a href="/register">Register</a>.') }}</p>
  {% else %}
  <p>{{ _('Welcome, <b>%(name)s</b>!', name=aname)}}</p>
  {% endif %}
</div>
{% endmacro %}

{% block pagebody %}
  <div class="hero-unit hidden-phone">
      <h1>{{NAME}}</h1>
      {{ home_hero(NAME, name, errmsg) }}
  </div>
  <div class="visible-phone well">
      <h2>{{NAME}}</h2>
      {{ home_hero(NAME, name, errmsg) }}
  </div>
  <div style="height: 400px" class="hidden-phone"></div>
  <div style="height: 100px" class="visible-phone"></div>
{% endblock %}

{% block pagescript %}
<script>
  {% if errmsg %}
  $(function() {
      $('#id').focus();
  });
  {% endif %}
</script>
{% endblock %}
