{% extends 'barebone.html' %}

{% macro menu_item(name, active) %}
<li {% if name == active %}class="active"{% endif %}><a
    href="/{{name}}">{{name|title}}</a></li>
{% endmacro %}

{% block navbar %}
  <div class="navbar navbar-fixed-top" id="page-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">{{NAME}}{% if DEV %} [Dev]{% endif %}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            {{ menu_item( gettext('home') , active) }}
            {{ menu_item( gettext('about'), active) }}
          </ul>
          {% if name %}
          <ul class="nav pull-right">
            <li><a href="#">{{name}}</a></li>
            <li><button onclick="logout()" class="btn">{{ gettext('Sign out') }}</button></li>
          </ul>
          {% else %}
            <form id="loginForm" class="navbar-form form-inline pull-right" method="post" action="/home">
              <label class="checkbox"><input id="remember" name="remember" type="checkbox" class="checkbox" {%if remember%}checked{%endif%}> {{ gettext('Remember')}} </input></label>
              <span class="help-inline error-message">{{errmsg}}</span>
              <input id="email" name="email" class="span2" type="text" placeholder="{{ gettext('Email') }}" {%if email%}value="{{email}}"{%endif%}>
              <input id="passwd" name="passwd" class="span2" type="password" placeholder="{{ gettext('Password') }}">
              <button type="submit" class="btn">{{ gettext('Sign in') }}</button>
            </form>
          {% endif %}
        </div><!--/.nav-collapse -->                                                                                </div>
    </div>                                                                                                      </div>
{% endblock %}

{% block layoutbody %}
  {% block pagebody %}
  {% endblock %}
  <hr>
  <footer>
  <p>© {{ gettext('Company') }} 2013</p>
  </footer>
{% endblock %}

{% block layoutscript %}
  <script src="/external/jquery-1.9.1.min.js"></script>
  <script src="/external/bootstrap-2.3.1/js/bootstrap.js"></script>
  <script src="/external/bootstrap-2.3.1/js/bootstrap-tooltip.js"></script>
  <script>
  $(document).ready(function() {
  {% if email %}
    $('#passwd').focus();
  {% endif %}
    $("[rel='tooltip']").tooltip();
  });

  function logout() {
    window.location = "/logout";
  }
  </script>

  {% block pagescript %}
  {% endblock %}

{% endblock %}
